@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

:root {
  --btn-grey: rgb(195, 195, 195);
  --btn-grey-on: rgb(161, 161, 161);
  --btn-blue: rgb(61, 75, 132);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  color: #333;

  list-style: none;
  text-decoration: none;
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

.btn-hover {
  cursor: pointer;
}

.common-back {
  width: 1200px;
  height: calc(100vh - 150px);
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  padding: 30px;
}
